In [1]:
import pandas as pd

In [2]:
# Load Customers Data
customers_df = pd.read_excel(r"C:\Projects\Global Super Store\2.Processing\Sales Super Store Dataset.xlsx",sheet_name='Customer')
print(customers_df.head())

  Customer ID     Customer Name
0    RH-19495       Rick Hansen
1    JR-16210     Justin Ritter
2    CR-12730      Craig Reiter
3    KM-16375  Katherine Murray
4     RH-9495       Rick Hansen

In [3]:
# Load Global Superstore Data
global_superstore_df = pd.read_excel(r"C:\Projects\Global Super Store\2.Processing\Sales Super Store Dataset.xlsx",sheet_name ='Global-Superstore')
print(global_superstore_df.head())

   Row ID        Order ID Order Date  Ship Date  Ship Mode Code Customer ID  \
0   31302  CA-2011-115812 2011-09-06 2011-06-14               4    BH-11710
1   31303  CA-2011-115812 2011-09-06 2011-06-14               4    BH-11710
2   31306  CA-2011-115812 2011-09-06 2011-06-14               4    BH-11710
3   31339  CA-2013-101343 2013-07-18 2013-07-23               4    RA-19885
4   31359  CA-2012-135545 2012-11-24 2012-11-30               4    KM-16720

   Segment Code         City       State        Country Market Region  \
0             1  Los Angeles  California  United States     US   West
1             1  Los Angeles  California  United States     US   West
2             1  Los Angeles  California  United States     US   West
3             2  Los Angeles  California  United States     US   West
4             1  Los Angeles  California  United States     US   West

        Product ID  Sales  Quantity  Discount  Profit  Shipping Cost  \
0  FUR-FU-10001487     49         7       0.0      14              3
1  OFF-AR-10002833      7         4       0.0       2              0
2  OFF-AP-10002892    115         5       0.0      34              8
3  OFF-ST-10003479     78         2       0.0       4              4
4  TEC-AC-10004633     14         2       0.0       6              1

  Order Priority  Unnamed: 19
0         Medium    28.571429
1         Medium          NaN
2         Medium          NaN
3         Medium          NaN
4         Medium          NaN

In [4]:
# Load Products Data
product_df = pd.read_excel(r"C:\Projects\Global Super Store\2.Processing\Sales Super Store Dataset.xlsx",sheet_name ='Product')
print(product_df.head())

         Product ID         Category Sub-Category  \
0   OFF-PA-10000994  Office Supplies        Paper
1   OFF-PA-10003395  Office Supplies        Paper
2  OFF-EAT-10002122  Office Supplies        Paper
3   OFF-PA-10000418  Office Supplies        Paper
4   OFF-PA-10002196  Office Supplies        Paper

                        Product Name
0                         Xerox 1915
1                         Xerox 1941
2  Eaton Cards & Envelopes, 8.5 x 11
3                          Xerox 189
4  Green Bar Message Books, Recycled

In [5]:
# Load Segments Data
segment_df = pd.read_excel(r"C:\Projects\Global Super Store\2.Processing\Sales Super Store Dataset.xlsx",sheet_name ='Segment')
print(segment_df.head())

   Segment Code      Segment
0             1     Consumer
1             2    Corporate
2             3  Home Office

In [6]:
# Load Shipping Modes Data
ship_mode_df = pd.read_excel(r"C:\Projects\Global Super Store\2.Processing\Sales Super Store Dataset.xlsx",sheet_name ='Ship Mode')
print(ship_mode_df.head())

        Ship Mode  Ship Mode Code
0        Same Day               1
1    Second Class               2
2     First Class               3
3  Standard Class               4

### 1.How many Customers made orders for each year?

In [7]:
# Table: global_superstore_df
# Columns:
#  Order Date: Date value of each transaction 
#  Customer ID: ID value of each customer
total_customers_df = global_superstore_df.copy()
total_customers_df['Year'] = total_customers_df['Order Date'].dt.year

# Calculating total unique customers
result_df = total_customers_df.groupby('Year')['Customer ID'].nunique()
print(result_df)

Year
2011    1309
2012    1373
2013    1458
2014    1511
Name: Customer ID, dtype: int64

### 2.How many Products sold for each Year?

In [8]:
# Table: global_superstore_df
# Columns:
#  Order Date: Date value of each transaction 
#  Product ID: ID value of each product
total_products_df = global_superstore_df.copy()
total_products_df['Year'] = total_products_df['Order Date'].dt.year

# Calculating total unique products
result_df = total_products_df.groupby('Year')['Product ID'].nunique()
print(result_df)

Year
2011    5678
2012    6299
2013    7074
2014    7885
Name: Product ID, dtype: int64

### 3.What is the Total value of Shipping Cost for each year?

In [9]:
# Table: global_superstore_df
# Columns:
#  Order Date: Date value of each transaction 
#  Shipping Cost: Shipping Cost value of each order
total_shipping_cost = global_superstore_df.copy()
total_shipping_cost['Year'] = total_shipping_cost['Order Date'].dt.year
result_df = total_shipping_cost.groupby('Year')['Shipping Cost'].sum()
print(result_df)

Year
2011    244334
2012    283490
2013    364599
2014    460528
Name: Shipping Cost, dtype: int64

### 4.What is the Total Sale value of each Year?

In [10]:
# Table: global_superstore_df
# Columns:
#  Order Date: Date value of each transaction 
#  Sales: Sales value of each transaction     
total_sales_df = global_superstore_df.copy()
total_sales_df['Year'] = total_sales_df['Order Date'].dt.year
result_df = total_sales_df.groupby('Year')['Sales'].sum()
print(result_df)

Year
2011    2259511
2012    2677493
2013    3405860
2014    4300041
Name: Sales, dtype: int64

### 5.What are Top 10 Most Profitable Products and their Sales?

In [20]:
# Table: global_superstore_df, product_df
# Columns:
#  Product ID: ID value of each transaction
#  Product Name: Product Name value of each transaction
#  Profit: Profit value of each transaction
#  Sales: Sale value of each transaction

# Dropping duplicates from product_df to get right results
products_clean = product_df.copy().drop_duplicates(subset=["Product ID","Product Name"])

df = global_superstore_df.copy().merge(products_clean,how='left',on='Product ID')
result_df = df.groupby(by='Product Name',as_index=False,observed=True)[['Sales','Profit']].sum()
print(result_df.sort_values(by=['Sales','Profit'],ascending=False).head(10))

                                           Product Name  Sales  Profit
310                        Apple Smart Phone, Full Size  86936    5924
970                        Cisco Smart Phone, Full Size  76441   17241
2415                    Motorola Smart Phone, Full Size  73159   17028
2501                       Nokia Smart Phone, Full Size  71904    9934
866               Canon imageCLASS 2200 Advanced Copier  61600   25200
1837         Hon Executive Leather Armchair, Adjustable  58200    5998
2631  Office Star Executive Leather Armchair, Adjust...  51455    4925
1714  Harbour Creations Executive Leather Armchair, ...  50120   10429
2988                      Samsung Smart Phone, Cordless  48654    -199
2502                  Nokia Smart Phone, with Caller ID  47880    9465

### 6.What is the Total Sale value by Segment and Ship Mode?

In [28]:
# Table: global_superstore_df, segment_df, ship_mode_df
# Columns:
#  Segment: Segment value of each transaction
#  Ship Mode: Ship Mode value of each transaction
#  Sales: Sale value of each transaction
df = global_superstore_df.copy().merge(segment_df.copy(),how='left',on='Segment Code')
df1 = df.merge(ship_mode_df.copy(),how='left',on='Ship Mode Code')
result_df = df1.groupby(by='Segment',as_index=False,observed=True)['Sales'].sum()

perc = ((result_df['Sales'])/(result_df['Sales']).sum())*100
result_df['percent_share'] = perc.round(1)

result1_df = df1.groupby(by='Ship Mode',as_index=False,observed=True)['Sales'].sum()
perc1 = ((result1_df['Sales'])/(result1_df['Sales']).sum())*100
result1_df['percent_share'] = perc1.round(1)

print(result_df)
print(result1_df)

       Segment    Sales  percent_share
0     Consumer  6508141           51.5
1    Corporate  3824808           30.3
2  Home Office  2309956           18.3
        Ship Mode    Sales  percent_share
0     First Class  1831067           14.5
1        Same Day   667202            5.3
2    Second Class  2565747           20.3
3  Standard Class  7578889           59.9

### 7.What is the Profit share by Category and Sub-Category?

In [52]:
# Table: global_superstore_df, product_df
# Columns:
#  Product ID: ID value of each transaction
#  Category: Category value of each transaction
#  Sub-Category: Sub-Category value of each transaction
#  Profit: Profit value of each transaction
#  Sales: Sale value of each transaction

# Dropping duplicates from product_df to get right results
products_clean = product_df.copy().drop_duplicates(subset=["Product ID","Category","Sub-Category"])

df = global_superstore_df.copy().merge(products_clean,how='left',on='Product ID')
# Calculate the total profit for each Category
category_totals = df.groupby('Category',observed=True)['Profit'].sum()

# Map the total profit back onto the main DataFrame
df['Category_Total_Profit'] = df['Category'].map(category_totals)

# 1. Aggregate profit as before
result_df = df.groupby(by=['Category','Sub-Category'], as_index=False, observed=True)['Profit'].sum()

# 2. Add the Category_Total_Profit to the aggregated result_df
# This requires recalculating the Category_Total_Profit on the merged df  or performing a final merge/map if the grouped result is too large.
# A simple merge is cleaner here:
result_df = result_df.merge(category_totals.rename('Category_Total_Profit'), on='Category', how='left')

# 3. Perform the hierarchical sort to match the treemap visualization
final_sorted_df = result_df.sort_values(
    by=['Category_Total_Profit', 'Profit'], 
    ascending=[False, False], 
    ignore_index=True
).drop(columns=['Category_Total_Profit']) # Drop the helper column

print(final_sorted_df.head(15))

           Category Sub-Category  Profit
0        Technology      Copiers  258580
1        Technology       Phones  216708
2        Technology  Accessories  129626
3        Technology     Machines   58858
4   Office Supplies   Appliances  141666
5   Office Supplies      Storage  108500
6   Office Supplies      Binders   72435
7   Office Supplies        Paper   59235
8   Office Supplies          Art   57993
9   Office Supplies    Envelopes   29584
10  Office Supplies     Supplies   22588
11  Office Supplies       Labels   15176
12  Office Supplies    Fasteners   11537
13        Furniture    Bookcases  161944
14        Furniture       Chairs  140428

### 8.What are the Top 10 Profitable Products and their Sales for 2014?

In [87]:
# Table: global_superstore_df, product_df
# Columns:
#  Order Date: Date value of each transaction
#  Product ID: Product ID value of each transaction
#  Product Name: Product Name value of each transaction
#  Profit: Profit value of each transaction
#  Sale: Sale value of each transaction

# Dropping duplicates from products_df to get right results
products_clean = product_df.copy().drop_duplicates(subset=["Product ID","Product Name"])

global_superstore_df['Year'] = global_superstore_df['Order Date'].dt.year

df = global_superstore_df.copy().merge(products_clean,how='left',on='Product ID')

result_df = df.groupby(by=['Year','Product Name'],as_index=False,observed=True)[['Profit','Sales']].sum()
print(result_df.sort_values(by=['Year','Profit'],ascending=[False,False]).head(10))

       Year                           Product Name  Profit  Sales
10323  2014  Canon imageCLASS 2200 Advanced Copier   15680  35700
10409  2014           Cisco Smart Phone, Full Size    7264  31248
11738  2014        Motorola Smart Phone, Full Size    6308  27558
11291  2014                      Hoover Stove, Red    5037  16373
12364  2014   Sauder Classic Bookcase, Traditional    4938  16030
9815   2014            Apple Smart Phone, Cordless    4607  17651
10322  2014              Canon Wireless Fax, Laser    4387   9839
10242  2014            Bush Classic Bookcase, Pine    3978  12526
11161  2014       Hewlett Wireless Fax, High-Speed    3626  12387
11154  2014   Hewlett Packard LaserJet 3310 Copier    3624   9240

In [92]:
# ---- 1. Clean Product Dimension: Keep only ONE Product Name per Product ID ----

# Option 1: Keep the first product name alphabetically (stable)
products_clean = (
    product_df.sort_values("Product Name")      # sort ensures consistent selection
               .drop_duplicates(subset=["Product ID"], keep="last")
               .reset_index(drop=True)
)

# ---- 2. Extract YEAR from Order Date ----
global_superstore_df["Year"] = global_superstore_df["Order Date"].dt.year

# ---- 3. Merge fact + clean dimension ----
df = global_superstore_df.merge(products_clean, on="Product ID", how="left")

# ---- 4. Group exactly like Tableau ----
result_df = (
    df.groupby(["Year", "Product Name"], as_index=False)["Profit"]
      .sum()
      .sort_values(["Year", "Profit"], ascending=[False, False])
)

# ---- 5. Show top results for 2014 ----
print(result_df[result_df["Year"] == 2014].head(15))

       Year                           Product Name  Profit
9950   2014  Canon imageCLASS 2200 Advanced Copier   15680
10034  2014           Cisco Smart Phone, Full Size    7264
11313  2014        Motorola Smart Phone, Full Size    6308
10881  2014                      Hoover Stove, Red    5037
11919  2014   Sauder Classic Bookcase, Traditional    4938
9460   2014            Apple Smart Phone, Cordless    4607
10757  2014       Hewlett Wireless Fax, High-Speed    3626
10750  2014   Hewlett Packard LaserJet 3310 Copier    3624
10035  2014      Cisco Smart Phone, with Caller ID    3550
9839   2014             Brother Fax Machine, Laser    3288
9836   2014             Brother Fax Machine, Color    3148
9949   2014              Canon Wireless Fax, Laser    3128
9822   2014           Breville Refrigerator, White    2856
10857  2014                  Hoover Blender, Black    2807
11916  2014         Sauder Classic Bookcase, Metal    2758