In [1]:
import pandas as pd

In [2]:
# Load Customers Data
customers_df = pd.read_excel(r"C:\Projects\Global Super Store\2.Processing\Sales Super Store Dataset.xlsx",sheet_name='Customer')
print(customers_df.head())

  Customer ID     Customer Name
0    RH-19495       Rick Hansen
1    JR-16210     Justin Ritter
2    CR-12730      Craig Reiter
3    KM-16375  Katherine Murray
4     RH-9495       Rick Hansen

In [3]:
# Load Global Superstore Data
global_superstore_df = pd.read_excel(r"C:\Projects\Global Super Store\2.Processing\Sales Super Store Dataset.xlsx",sheet_name ='Global-Superstore')
print(global_superstore_df.head())

   Row ID        Order ID Order Date  Ship Date  Ship Mode Code Customer ID  \
0   31302  CA-2011-115812 2011-09-06 2011-06-14               4    BH-11710
1   31303  CA-2011-115812 2011-09-06 2011-06-14               4    BH-11710
2   31306  CA-2011-115812 2011-09-06 2011-06-14               4    BH-11710
3   31339  CA-2013-101343 2013-07-18 2013-07-23               4    RA-19885
4   31359  CA-2012-135545 2012-11-24 2012-11-30               4    KM-16720

   Segment Code         City       State        Country Market Region  \
0             1  Los Angeles  California  United States     US   West
1             1  Los Angeles  California  United States     US   West
2             1  Los Angeles  California  United States     US   West
3             2  Los Angeles  California  United States     US   West
4             1  Los Angeles  California  United States     US   West

        Product ID  Sales  Quantity  Discount  Profit  Shipping Cost  \
0  FUR-FU-10001487     49         7       0.0      14              3
1  OFF-AR-10002833      7         4       0.0       2              0
2  OFF-AP-10002892    115         5       0.0      34              8
3  OFF-ST-10003479     78         2       0.0       4              4
4  TEC-AC-10004633     14         2       0.0       6              1

  Order Priority  Unnamed: 19
0         Medium    28.571429
1         Medium          NaN
2         Medium          NaN
3         Medium          NaN
4         Medium          NaN

In [4]:
# Load Products Data
product_df = pd.read_excel(r"C:\Projects\Global Super Store\2.Processing\Sales Super Store Dataset.xlsx",sheet_name ='Product')
print(product_df.head())

         Product ID         Category Sub-Category  \
0   OFF-PA-10000994  Office Supplies        Paper
1   OFF-PA-10003395  Office Supplies        Paper
2  OFF-EAT-10002122  Office Supplies        Paper
3   OFF-PA-10000418  Office Supplies        Paper
4   OFF-PA-10002196  Office Supplies        Paper

                        Product Name
0                         Xerox 1915
1                         Xerox 1941
2  Eaton Cards & Envelopes, 8.5 x 11
3                          Xerox 189
4  Green Bar Message Books, Recycled

In [5]:
# Load Segments Data
segment_df = pd.read_excel(r"C:\Projects\Global Super Store\2.Processing\Sales Super Store Dataset.xlsx",sheet_name ='Segment')
print(segment_df.head())

   Segment Code      Segment
0             1     Consumer
1             2    Corporate
2             3  Home Office

In [6]:
# Load Shipping Modes Data
ship_mode_df = pd.read_excel(r"C:\Projects\Global Super Store\2.Processing\Sales Super Store Dataset.xlsx",sheet_name ='Ship Mode')
print(ship_mode_df.head())

        Ship Mode  Ship Mode Code
0        Same Day               1
1    Second Class               2
2     First Class               3
3  Standard Class               4

## 1.How many Customers made orders for each year?

In [7]:
# Table: global_superstore_df
# Columns:
#  Order Date: Date value of each transaction 
#  Customer ID: ID value of each customer
total_customers_df = global_superstore_df.copy()
total_customers_df['Year'] = total_customers_df['Order Date'].dt.year

# Calculating total unique customers
result_df = total_customers_df.groupby('Year')['Customer ID'].nunique()
print(result_df)

Year
2011    1309
2012    1373
2013    1458
2014    1511
Name: Customer ID, dtype: int64

## 2.How many Products sold for each Year?

In [8]:
# Table: global_superstore_df
# Columns:
#  Year: Year value of each transaction 
#  Product ID: ID value of each product
total_products_df = global_superstore_df.copy()
total_products_df['Year'] = total_customers_df['Order Date'].dt.year

# Calculating total unique products
result_df = total_products_df.groupby('Year')['Product ID'].nunique()
print(result_df)

Year
2011    5678
2012    6299
2013    7074
2014    7885
Name: Product ID, dtype: int64

## 3.What is the Total value of Shipping Cost for each year?

In [9]:
# Table: global_superstore_df
# Columns:
#  Year: Year value of each transaction 
#  Shipping Cost: Shipping Cost value of each order
total_shipping_cost = global_superstore_df.copy()
total_shipping_cost['Year'] = total_customers_df['Order Date'].dt.year
result_df = total_shipping_cost.groupby('Year')['Shipping Cost'].sum()
print(result_df)

Year
2011    244334
2012    283490
2013    364599
2014    460528
Name: Shipping Cost, dtype: int64

## 4.What is the Total Sale value of each Year?

In [10]:
# Table: global_superstore_df
# Columns:
#  Year: Year value of each transaction 
#  Sales: Sales value of each transaction     
total_sales_df = global_superstore_df.copy()
total_sales_df['Year'] = total_customers_df['Order Date'].dt.year
result_df = total_sales_df.groupby('Year')['Sales'].sum()
print(result_df)

Year
2011    2259511
2012    2677493
2013    3405860
2014    4300041
Name: Sales, dtype: int64

## 5.What is the Total Sale value by each Year and Month?

In [11]:
# Table: global_superstore_df
# Columns:
#  Year: Year value of each transaction 
#  Sales: Sales value of each transaction

month_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                   'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

total_sales_df = global_superstore_df.copy()

total_sales_df['Year'] = total_customers_df['Order Date'].dt.year
total_sales_df['Month'] = total_sales_df['Order Date'].dt.month_name().str[:3]
total_sales_df['Month_Name'] = pd.Categorical(total_sales_df['Month'], categories=month_order, ordered=True)

total_sales_df = total_sales_df.groupby(['Year','Month_Name'],as_index=False,observed=True)['Sales'].sum()
result_df = total_sales_df.sort_values(by=['Year','Month_Name']).tail(12)
print(result_df)

    Year Month_Name   Sales
36  2014        Jan  268275
37  2014        Feb  244179
38  2014        Mar  347757
39  2014        Apr  302140
40  2014        May  304795
41  2014        Jun  372608
42  2014        Jul  278670
43  2014        Aug  432742
44  2014        Sep  405455
45  2014        Oct  406676
46  2014        Nov  508985
47  2014        Dec  427759

## 6.What is the Total Sale value of each Sub-Category?

In [12]:
# Table: global_superstore_df, product_df
# Columns:
#  Sub-Category: Sub-Category value of each transaction 
#  Sales: Sales value of each transaction
# Product ID: ID value of each product

# Dropping duplicates from products_df to get right results
products_clean = product_df.copy().drop_duplicates(subset=["Product ID","Sub-Category"])

subcategory_sales_df = global_superstore_df.copy().merge(products_clean,how = 'left',on = 'Product ID')
result_df = subcategory_sales_df.groupby('Sub-Category',as_index=False)['Sales'].sum()
result_df = result_df.sort_values(by='Sales',ascending = False).head(2)
print(result_df)

   Sub-Category    Sales
13       Phones  1706874
6       Copiers  1509439

## 7.What is the Total Sale and Profit value of each Country?

In [13]:
# Table: global_superstore_df
# Columns:
#  Country: Country value of each transaction
#  Sales: Sales value of each transaction
#  Profit: Profit value of each transaction
total_sales_df = global_superstore_df.copy()
result_df = total_sales_df.groupby(by='Country',as_index=False)[['Sales','Profit']].sum()
result_df = result_df.sort_values(by='Sales',ascending=False)
print(result_df.head(2))

           Country    Sales  Profit
139  United States  2297354  286347
6        Australia   925257  103928

## 8.What is the Total Sales value by Year & Month for 2014?

In [14]:
# Table: global_superstore_df
# Columns:
#  Order Date: Date value of each transaction 
#  Sales: Sales value of each transaction
month_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                   'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

total_sales_df = global_superstore_df.copy()

total_sales_df['Year'] = total_customers_df['Order Date'].dt.year
total_sales_df['Month'] = total_sales_df['Order Date'].dt.month_name().str[:3]
total_sales_df['Month_Name'] = pd.Categorical(total_sales_df['Month'], categories=month_order, ordered=True)

total_sales_df = total_sales_df[total_sales_df['Year'] == 2014]
result_df = total_sales_df.groupby(['Year','Month_Name'],as_index=False,observed=True)['Sales'].sum()
print(result_df)

    Year Month_Name   Sales
0   2014        Jan  268275
1   2014        Feb  244179
2   2014        Mar  347757
3   2014        Apr  302140
4   2014        May  304795
5   2014        Jun  372608
6   2014        Jul  278670
7   2014        Aug  432742
8   2014        Sep  405455
9   2014        Oct  406676
10  2014        Nov  508985
11  2014        Dec  427759

## 9.What is the Total Sale value by Sub-Category for the year 2014?

In [15]:
# Table: global_superstore_df, product_df
# Columns:
#  Order Date: Date value of each transaction
#  Sub-Category: Sub-Category value of each transaction
#  Sales: Sales value of each transaction
#  Product ID: ID value of each product

# Dropping duplicates from products_df to get right results
products_clean = product_df.copy().drop_duplicates(subset=["Product ID","Sub-Category"])

subcategory_sales_df = global_superstore_df.copy().merge(products_clean,how = 'left',on = 'Product ID')
subcategory_sales_df['Year'] = subcategory_sales_df['Order Date'].dt.year

result_df = subcategory_sales_df[subcategory_sales_df['Year'] == 2014]
result_df = result_df.groupby(by=['Year','Sub-Category'],as_index=False,observed=True)['Sales'].sum()
result_df = result_df.sort_values(by='Sales',ascending=False)
print(result_df.head(2))

    Year Sub-Category   Sales
13  2014       Phones  552013
6   2014      Copiers  550382

## 10.What is the Total Sale and Profit value of each Country for the Year 2014?

In [15]:
# Table: global_superstore_df, product_df
# Columns:
#  Order Date: Date value of each transaction
#  Sub-Category: Sub-Category value of each transaction
#  Sales: Sales value of each transaction
#  Product ID: ID value of each product

# Dropping duplicates from products_df to get right results
products_clean = product_df.copy().drop_duplicates(subset=["Product ID","Sub-Category"])

subcategory_sales_df = global_superstore_df.copy().merge(products_clean,how = 'left',on = 'Product ID')
subcategory_sales_df['Year'] = subcategory_sales_df['Order Date'].dt.year

result_df = subcategory_sales_df[subcategory_sales_df['Year'] == 2014]
result_df = result_df.groupby(by=['Year','Sub-Category'],as_index=False,observed=True)['Sales'].sum()
result_df = result_df.sort_values(by='Sales',ascending=False)
print(result_df.head(2))

    Year Sub-Category   Sales
13  2014       Phones  552013
6   2014      Copiers  550382

## 11.What is the Total Sales value by Year & Month for Consumer Segment?

In [17]:
# Table: global_superstore_df, segment_df
# Columns:
#  Order Date: Date value of each transaction 
#  Sales: Sales value of each transaction
month_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                   'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

total_sales_df = global_superstore_df.copy().merge(segment_df.copy(),how='left',on='Segment Code')

total_sales_df['Year'] = total_customers_df['Order Date'].dt.year
total_sales_df['Month'] = total_sales_df['Order Date'].dt.month_name().str[:3]
total_sales_df['Month_Name'] = pd.Categorical(total_sales_df['Month'], categories=month_order, ordered=True)

total_sales_df = total_sales_df[total_sales_df['Segment'] == 'Consumer']
total_sales_df = total_sales_df.groupby(by=['Segment','Year','Month_Name'],as_index=False,observed=True)['Sales'].sum()
print(total_sales_df.tail(12))

     Segment  Year Month_Name   Sales
36  Consumer  2014        Jan  143229
37  Consumer  2014        Feb  111380
38  Consumer  2014        Mar  181048
39  Consumer  2014        Apr  138708
40  Consumer  2014        May  155745
41  Consumer  2014        Jun  184426
42  Consumer  2014        Jul  132593
43  Consumer  2014        Aug  203143
44  Consumer  2014        Sep  199499
45  Consumer  2014        Oct  194800
46  Consumer  2014        Nov  253459
47  Consumer  2014        Dec  243322

## 12.What is the Total Sales value by Year & Month for Corporate Segment?

In [18]:
# Table: global_superstore_df, segment_df
# Columns:
#  Order Date: Date value of each transaction 
#  Sales: Sales value of each transaction
month_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                   'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

total_sales_df = global_superstore_df.copy().merge(segment_df.copy(),how='left',on='Segment Code')

total_sales_df['Year'] = total_customers_df['Order Date'].dt.year
total_sales_df['Month'] = total_sales_df['Order Date'].dt.month_name().str[:3]
total_sales_df['Month_Name'] = pd.Categorical(total_sales_df['Month'], categories=month_order, ordered=True)

total_sales_df = total_sales_df[total_sales_df['Segment'] == 'Corporate']
total_sales_df = total_sales_df.groupby(by=['Segment','Year','Month_Name'],as_index=False,observed=True)['Sales'].sum()
print(total_sales_df.tail(12))

      Segment  Year Month_Name   Sales
36  Corporate  2014        Jan   70884
37  Corporate  2014        Feb   77750
38  Corporate  2014        Mar   94903
39  Corporate  2014        Apr  103143
40  Corporate  2014        May   93302
41  Corporate  2014        Jun  112540
42  Corporate  2014        Jul   82661
43  Corporate  2014        Aug  152762
44  Corporate  2014        Sep  112663
45  Corporate  2014        Oct  132902
46  Corporate  2014        Nov  146477
47  Corporate  2014        Dec  113653

## 13.What is the Total Sale value by Sub-Category for the Consumer Segment?

In [23]:
# Table: global_superstore_df, product_df, segment_df
# Columns:
#  Order Date: Date value of each transaction
#  Sub-Category: Sub-Category value of each transaction
#  Sales: Sales value of each transaction
#  Product ID: ID value of each product

# Dropping duplicates from products_df to get right results
products_clean = product_df.copy().drop_duplicates(subset=["Product ID","Sub-Category"])

subcategory_sales_df = global_superstore_df.copy().merge(products_clean,how = 'left',on = 'Product ID')
total_sales_df = subcategory_sales_df.merge(segment_df.copy(),how='left',on='Segment Code')

result_df = total_sales_df[total_sales_df['Segment'] == 'Consumer']
result_df = result_df.groupby(by=['Segment','Sub-Category'],as_index=False,observed=True)['Sales'].sum()
result_df = result_df.sort_values(by='Sales',ascending=False)
print(result_df.head(2))

     Segment Sub-Category   Sales
13  Consumer       Phones  905471
5   Consumer       Chairs  778366

## 14.What is the Total Sale value by Sub-Category for the Corporate Segment?

In [24]:
# Table: global_superstore_df, product_df, segment_df
# Columns:
#  Order Date: Date value of each transaction
#  Sub-Category: Sub-Category value of each transaction
#  Sales: Sales value of each transaction
#  Product ID: ID value of each product

# Dropping duplicates from products_df to get right results
products_clean = product_df.copy().drop_duplicates(subset=["Product ID","Sub-Category"])

subcategory_sales_df = global_superstore_df.copy().merge(products_clean,how = 'left',on = 'Product ID')
total_sales_df = subcategory_sales_df.merge(segment_df.copy(),how='left',on='Segment Code')

result_df = total_sales_df[total_sales_df['Segment'] == 'Corporate']
result_df = result_df.groupby(by=['Segment','Sub-Category'],as_index=False,observed=True)['Sales'].sum()
result_df = result_df.sort_values(by='Sales',ascending=False)
print(result_df.head(2))

      Segment Sub-Category   Sales
13  Corporate       Phones  494087
6   Corporate      Copiers  462784

## 15.What is the Total Sale and Profit value of each Country for Consumer Segment?

In [25]:
# Table: global_superstore_df, segment_df
# Columns:
#  Country: Country value of each transaction
#  Sales: Sales value of each transaction
#  Profit: Profit value of each transaction
total_sales_df = global_superstore_df.copy().merge(segment_df.copy(),how='left',on='Segment Code')

total_sales_df = total_sales_df[total_sales_df['Segment'] == 'Consumer']
result_df = total_sales_df.groupby(by=['Segment','Country'],as_index=False)[['Sales','Profit']].sum()
result_df = result_df.sort_values(by='Sales',ascending=False)
print(result_df.head(2))

      Segment        Country    Sales  Profit
133  Consumer  United States  1161497  134113
6    Consumer      Australia   499326   57049

## 16.What is the Total Sale and Profit value of each Country for Corporate Segment?

In [26]:
# Table: global_superstore_df, segment_df
# Columns:
#  Country: Country value of each transaction
#  Sales: Sales value of each transaction
#  Profit: Profit value of each transaction
total_sales_df = global_superstore_df.copy().merge(segment_df.copy(),how='left',on='Segment Code')

total_sales_df = total_sales_df[total_sales_df['Segment'] == 'Corporate']
result_df = total_sales_df.groupby(by=['Segment','Country'],as_index=False)[['Sales','Profit']].sum()
result_df = result_df.sort_values(by='Sales',ascending=False)
print(result_df.head(2))

       Segment        Country   Sales  Profit
130  Corporate  United States  706183   91965
40   Corporate         France  282110   37115

## 17.What is the Total Sales value by Year & Month for Furniture Category?

In [34]:
# Table: global_superstore_df, product_df
# Columns:
#  Order Date: Date value of each transaction 
#  Sales: Sales value of each transaction
month_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                   'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# Dropping duplicates from products_df to get right results
products_clean = product_df.copy().drop_duplicates(subset=["Product ID","Category"])


total_sales_df = global_superstore_df.copy().merge(products_clean,how='left',on='Product ID')

total_sales_df['Year'] = total_customers_df['Order Date'].dt.year
total_sales_df['Month'] = total_sales_df['Order Date'].dt.month_name().str[:3]
total_sales_df['Month_Name'] = pd.Categorical(total_sales_df['Month'], categories=month_order, ordered=True)

total_sales_df = total_sales_df[total_sales_df['Category'] == 'Furniture']
result_df = total_sales_df.groupby(by=['Category','Year','Month_Name'],as_index=False,observed=True)['Sales'].sum()
print(result_df.tail(12))

     Category  Year Month_Name   Sales
36  Furniture  2014        Jan   80982
37  Furniture  2014        Feb   85918
38  Furniture  2014        Mar  115639
39  Furniture  2014        Apr   93944
40  Furniture  2014        May   93901
41  Furniture  2014        Jun  125534
42  Furniture  2014        Jul   88258
43  Furniture  2014        Aug  122967
44  Furniture  2014        Sep  147265
45  Furniture  2014        Oct  116849
46  Furniture  2014        Nov  164375
47  Furniture  2014        Dec  142429

## 18.What is the Total Sales value by Year & Month for Technology Category?

In [29]:
# Table: global_superstore_df, product_df
# Columns:
#  Order Date: Date value of each transaction 
#  Sales: Sales value of each transaction
month_order = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                   'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# Dropping duplicates from products_df to get right results
products_clean = product_df.copy().drop_duplicates(subset=["Product ID","Category"])


total_sales_df = global_superstore_df.copy().merge(products_clean,how='left',on='Product ID')

total_sales_df['Year'] = total_customers_df['Order Date'].dt.year
total_sales_df['Month'] = total_sales_df['Order Date'].dt.month_name().str[:3]
total_sales_df['Month_Name'] = pd.Categorical(total_sales_df['Month'], categories=month_order, ordered=True)

total_sales_df = total_sales_df[total_sales_df['Category'] == 'Technology']
result_df = total_sales_df.groupby(by=['Category','Year','Month_Name'],as_index=False,observed=True)['Sales'].sum()
print(result_df.tail(12))

      Category  Year Month_Name   Sales
36  Technology  2014        Jan  105907
37  Technology  2014        Feb   97533
38  Technology  2014        Mar  131362
39  Technology  2014        Apr  117871
40  Technology  2014        May  100593
41  Technology  2014        Jun  142666
42  Technology  2014        Jul   96642
43  Technology  2014        Aug  166994
44  Technology  2014        Sep  147706
45  Technology  2014        Oct  166669
46  Technology  2014        Nov  194133
47  Technology  2014        Dec  148122

## 19.What is the Total Sale value by Sub-Category for the Furniture Category?

In [35]:
# Table: global_superstore_df, product_df
# Columns:
#  Order Date: Date value of each transaction
#  Sub-Category: Sub-Category value of each transaction
#  Sales: Sales value of each transaction
#  Product ID: ID value of each product
#  Category: Sub-Category value of each transaction

# Dropping duplicates from products_df to get right results
products_clean = product_df.copy().drop_duplicates(subset=["Product ID","Category","Sub-Category"])

subcategory_sales_df = global_superstore_df.copy().merge(products_clean,how = 'left',on = 'Product ID')
# total_sales_df = subcategory_sales_df.merge(segment_df.copy(),how='left',on='Segment Code')

result_df = subcategory_sales_df[subcategory_sales_df['Category'] == 'Furniture']
result_df = result_df.groupby(by=['Category','Sub-Category'],as_index=False,observed=True)['Sales'].sum()
result_df = result_df.sort_values(by='Sales',ascending=False)
print(result_df.head(2))

    Category Sub-Category    Sales
1  Furniture       Chairs  1501682
0  Furniture    Bookcases  1466559

## 19.What is the Total Sale value by Sub-Category for the Technology Category?

In [37]:
# Table: global_superstore_df, product_df
# Columns:
#  Order Date: Date value of each transaction
#  Sub-Category: Sub-Category value of each transaction
#  Sales: Sales value of each transaction
#  Product ID: ID value of each product
#  Category: Sub-Category value of each transaction

# Dropping duplicates from products_df to get right results
products_clean = product_df.copy().drop_duplicates(subset=["Product ID","Category","Sub-Category"])

subcategory_sales_df = global_superstore_df.copy().merge(products_clean,how = 'left',on = 'Product ID')
# total_sales_df = subcategory_sales_df.merge(segment_df.copy(),how='left',on='Segment Code')

result_df = subcategory_sales_df[subcategory_sales_df['Category'] == 'Technology']
result_df = result_df.groupby(by=['Category','Sub-Category'],as_index=False,observed=True)['Sales'].sum()
result_df = result_df.sort_values(by='Sales',ascending=False)
print(result_df.head(2))

     Category Sub-Category    Sales
3  Technology       Phones  1706874
1  Technology      Copiers  1509439